extends ../../layouts/default.pug
include ../../mixins/hox-head.pug
block main
  .container.my-3
    .row
      .col-12
        +box-head('Danh sách sản phẩm')
      

    .row
      .col-4.mb-3
        .product-item
          .inner-image
            img(src="/images/anh2.jpg", alt="Product")
          .inner-content
            h3.inner-title iPhone 9
            .inner-price-new 805$
            .inner-price-old 100$
            .inner-discount -20%
