.sider  
    .inner-menu 
        ul 
            li 
                a(href=`/dashboard`) Dashboard
            li 
                a(href=`${prefixAdmin}/categories`) Categories
            li 
                a(href=`${prefixAdmin}/products`) Products
            li 
                a(href=`${prefixAdmin}/orders`) Orders
            li 
                a(href=`${prefixAdmin}/users`) Users